{% extends 'campusrecruiter/base.html' %}
{% block content %}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">CampusRecruiter</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
     </button>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Recruiters</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">AboutUs</a>
            </li>
        </ul>

</nav>
<br/>
<form action={% url 'success'%} method='POST'>{% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1>Student Registration..</h1>
                    <div class="form-group">
                        <input type='text' class="form-control" name='stuName' id='stuName' placeholder="Student Name"><br/>
                    </div>
                    <div class="form-group">
                        <input type='text' class="form-control" name='collName' id='collName' placeholder="College"><br/>
                    </div>
                    <div class="form-group">
                        <input type='text' class="form-control" name='rollno' id='rollno' placeholder="Roll Number"><br/>
                    </div>
                    <div class="form-group">
                        <input type='text' class="form-control" name='stugpa' id='stugpa' placeholder="Student GPA"><br/>
                    </div>
                <input type='submit' class="btn btn-secondary" value='Register'>

            </div>

        </div>
    </div>

</form>

{% endblock content %}